In [ ]:
# !git clone https://github.com/aashishksahu/TestBench.git

In [2]:
def one_hot(vector):
    
    vector = np.array(vector)

    # vector should be a vector not an array
    if(vector.ndim !=1):
        return false

    # length of vector
    vector_len = len(vector)

    # extract the categories
    categories = list(set(vector))

    # Total number of categories
    categories_len = len(categories)

    # Initialize a numpy array of size ( vector_len, categories_len )
    one_hot_vector = np.zeros([vector_len, categories_len], dtype=np.float)

    for i in range(vector_len):

        # for every row in the vector, check if the category matches with a value 
        # in the categories list
        for c in range(categories_len):
            # replace the zero with a one at the column index where the category matches
            if vector[i] == categories[c]:
                one_hot_vector[i, c] = 1

    return one_hot_vector

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.DataFrame(pd.read_csv('TestBench/train.csv'))

# filling missing data with last valid observation
data = data.fillna(method='ffill')

# one hot encoding nominal attributes 
sex_one_hot = one_hot(data['Sex'])
data['is_male'] = sex_one_hot[:, 0]
data['is_female'] = sex_one_hot[:, 1]

embarked_one_hot = one_hot(data['Embarked'])
data['embarked_S'] = embarked_one_hot[:, 0]
data['embarked_Q'] = embarked_one_hot[:, 1]
data['embarked_C'] = embarked_one_hot[:, 2]

pclass_one_hot = one_hot(data['Pclass'])
data['pclass_1'] = embarked_one_hot[:, 0]
data['pclass_2'] = embarked_one_hot[:, 1]
data['pclass_3'] = embarked_one_hot[:, 2]

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
print('These are the attributes we will use\n')
feature_list = ['Pclass', 'is_male', 'is_female', 'Age', 'SibSp', 'Parch', 'Fare', 'embarked_C', 
                'embarked_S','embarked_Q', 'pclass_3','pclass_1', 'pclass_2']
data[feature_list]

These are the attributes we will use

     Pclass  is_male  is_female   Age  ...  embarked_Q  pclass_3  pclass_1  pclass_2
0         3      1.0        0.0  22.0  ...         1.0       0.0       0.0       1.0
1         1      0.0        1.0  38.0  ...         0.0       0.0       1.0       0.0
2         3      0.0        1.0  26.0  ...         1.0       0.0       0.0       1.0
3         1      0.0        1.0  35.0  ...         1.0       0.0       0.0       1.0
4         3      1.0        0.0  35.0  ...         1.0       0.0       0.0       1.0
..      ...      ...        ...   ...  ...         ...       ...       ...       ...
886       2      1.0        0.0  27.0  ...         1.0       0.0       0.0       1.0
887       1      0.0        1.0  19.0  ...         1.0       0.0       0.0       1.0
888       3      0.0        1.0  19.0  ...         1.0       0.0       0.0       1.0
889       1      1.0        0.0  26.0  ...         0.0       0.0       1.0       0.0
890       3      1.0        0.0  32.0  ...         0.0       1.0       0.0       0.0

[891 rows x 13 columns]

In [5]:
# splitting data into training and validation set

# split ratio: 70:30

split_ratio = int(len(data)*0.75)

x_train = np.array(data[feature_list].iloc[0:split_ratio])
y_train = np.array(data[['Survived']].iloc[0:split_ratio])

x_test  = np.array(data[feature_list].iloc[split_ratio:])
y_test  = np.array(data[['Survived']].iloc[split_ratio:])

In [6]:
from sklearn.neural_network import MLPClassifier

model = MLPClassifier(solver='adam', alpha=0.01, hidden_layer_sizes=(30,20), max_iter=2500)

model.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=0.01, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(30, 20), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=2500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [7]:
# now calculating the training and validation accuracy
from sklearn.metrics import accuracy_score

x_train_pred = model.predict(x_train)
x_test_pred = model.predict(x_test)

print("Training accuracy: ",accuracy_score(y_train, x_train_pred))
print("Testing accuracy: ",accuracy_score(y_test, x_test_pred))

Training accuracy:  0.8068862275449101
Testing accuracy:  0.8251121076233184

In [8]:
# making predictions for test data 
test_data = pd.DataFrame(pd.read_csv('TestBench/test.csv'))

# filling missing data with last valid observation
test_data = test_data.fillna(method='ffill')

# one hot encoding nominal attributes 
sex_one_hot = one_hot(test_data['Sex'])
test_data['is_male'] = sex_one_hot[:, 0]
test_data['is_female'] = sex_one_hot[:, 1]

embarked_one_hot = one_hot(test_data['Embarked'])
test_data['embarked_S'] = embarked_one_hot[:, 0]
test_data['embarked_Q'] = embarked_one_hot[:, 1]
test_data['embarked_C'] = embarked_one_hot[:, 2]

pclass_one_hot = one_hot(test_data['Pclass'])
test_data['pclass_3'] = embarked_one_hot[:, 0]
test_data['pclass_1'] = embarked_one_hot[:, 1]
test_data['pclass_2'] = embarked_one_hot[:, 2]

In [9]:
test_data[feature_list]

     Pclass  is_male  is_female   Age  ...  embarked_Q  pclass_3  pclass_1  pclass_2
0         3      1.0        0.0  34.5  ...         0.0       0.0       0.0       1.0
1         3      0.0        1.0  47.0  ...         1.0       0.0       1.0       0.0
2         2      1.0        0.0  62.0  ...         0.0       0.0       0.0       1.0
3         3      1.0        0.0  27.0  ...         1.0       0.0       1.0       0.0
4         3      0.0        1.0  22.0  ...         1.0       0.0       1.0       0.0
..      ...      ...        ...   ...  ...         ...       ...       ...       ...
413       3      1.0        0.0  28.0  ...         1.0       0.0       1.0       0.0
414       1      0.0        1.0  39.0  ...         0.0       1.0       0.0       0.0
415       3      1.0        0.0  38.5  ...         1.0       0.0       1.0       0.0
416       3      1.0        0.0  38.5  ...         1.0       0.0       1.0       0.0
417       3      1.0        0.0  38.5  ...         0.0       1.0       0.0       0.0

[418 rows x 13 columns]

In [10]:
test_pred = model.predict(test_data[feature_list])

In [11]:
pred_list = [['PassengerId', 'Survived']]

for i in range(len(test_pred)):
    pred_list.append([test_data['PassengerId'][i], test_pred[i]])

In [12]:
import csv

with open("test_prediction.csv","w+") as my_csv:
    csvWriter = csv.writer(my_csv,delimiter=',')
    csvWriter.writerows(pred_list)