In [1]:
# !git clone https://github.com/aashishksahu/TestBench.git

Cloning into 'TestBench'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 14 (delta 1), reused 14 (delta 1), pack-reused 0
Unpacking objects: 100% (14/14), done.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.DataFrame(pd.read_csv('/content/TestBench/bus.csv'))

In [5]:
data.describe()

        Name         Type  ...     Notes         Country
count    779          774  ...       283             721
unique   769           22  ...        98              63
top     3000  Single deck  ...  Bodywork  United Kingdom
freq       2          564  ...        94             176

[4 rows x 6 columns]